@{
    ViewData["Title"] = "Statut Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Statut Liste</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="dashboard" asp-action="index"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="breadcrumb-item active"><a href="#"></a>Statut Liste</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                @if (ViewBag.msg != null)
                {
                    if (ViewBag.msg == "Done")
                    {
                        <div class="callout callout-success">
                            <h5>Successful</h5>
                        </div>

                    }
                    else
                    {
                        <div class="callout callout-danger">
                            <h5>Failed</h5>
                        </div>
                    }
                }

                <div class="card">
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Couleur</th>
                                    <th>Statuts</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var statut in ViewBag.statutes)
                                {
                                <tr>
                                    <td>@statut.Id</td>
                                    <td>@statut.Nom</td>
                                    <td><span class="badge badge-@statut.Couleur">&nbsp;&nbsp;&nbsp;</span></td>
                                    <td>@(statut.Display ? "Active" : "Inactive")</td>
                                    <td>
                                        <a asp-controller="statut" asp-action="modifier"
                                           asp-route-id="@statut.Id">Modifier</a> |
                                        <a asp-controller="statut" asp-action="supprimer" asp-route-id="@statut.Id"
                                           onclick="return confirm('êtes-vous sûr?')">Supprimer</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Couleur</th>
                                    <th>Statuts</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<script>
    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>